.centro{
    font-family:PMingLiU-ExtB font;
    text-align: center;
    background-color: #f1b6cf;
    border-radius: 6%;
    margin-top: 5%;
    margin-bottom: 20%;
}

.imagenReceta{
    border-radius: 6%;
    margin-top: 5%;
    margin-bottom:3%;
}






