


.container{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:space-around;
  align-items:center;
  align-content:flex-start;
  height:100vh; /*Este valor lo puedes omitir si la altura de tu componente esta definida*/
    width: 100%;
    height: 100%;
  background-image:url(/img/cerezo.png);
  border-radius: 50%;
  margin-top: 2%;
  margin-bottom: 5%;

}

.imagen{
  order:0;
  flex:0 1 auto;
  align-self:auto;
  height:200px;
  width:200px;
}

.texto{
 display: flex;
  align-items: center;
  justify-content: center;
  height:200px;
  width:400px;
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  background-color:rgb(245, 182, 213);
  border-radius: 6%;
}

.texto h1{
  text-align: center;
  font-size: x-large;

}


.imagen img{
  border-radius: 3%;
}

@media(max-width: 992px) {
  .container{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:space-around;
    align-items:center;
    align-content:flex-start;
    height:90vh;
    border-radius: 50%;
    background-image:url(/img/cerezo.png);
    width: 100%;
    height: 100%;
    margin-top: 2%;
    border-bottom: 20%;
  }
  .texto{
    display: flex;
     align-items: center;
     justify-content: center;
     height:200px;
     width:400px;
     font-family:Arial, Helvetica, sans-serif;
     text-align: center;
     background-color:rgb(245, 182, 213);
     border-radius: 6%;
   }
}

@media(max-width: 768px) {

  .imagen{
      display: none;
  }
  .texto{
    display: flex;
     align-items: center;
     justify-content: center;
     height:200px;
     width:400px;
     font-family:Arial, Helvetica, sans-serif;
     text-align: center;
     background-color:rgb(245, 182, 213);
     border-radius: 6%;
   }

}
