


.container{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:space-around;
  align-items:center;
  align-content:flex-start;
  height:100vh; /*Este valor lo puedes omitir si la altura de tu componente esta definida*/
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: darksalmon;
  margin-top: 2%;
  margin-bottom: 5%;

}

.imagen{
  order:0;
  flex:0 1 auto;
  align-self:auto;
  height:200px;
  width:200px;
}

.texto{
  order:0;
  flex:0 1 auto;
  align-self:auto;
  height:200px;
  width:400px;
  font-family:PMingLiU-ExtB font;
  text-align: justify;
}

.texto h1{
  text-align: center;
  font-size: x-large;

}


.imagen img{
  border-radius: 3%;
}

@media(max-width: 992px) {
  .container{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:space-around;
    align-items:center;
    align-content:flex-start;
    height:90vh;
    border-radius: 50%;
    background-color: rgb(196, 105, 238);
    margin-top: 2%;
    border-bottom: 20%;
  }
}

@media(max-width: 768px) {

  .imagen{
      display: none;
  }

}
