footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial;
  }

  @media(max-width: 992px) {
    footer{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(82, 3, 3);
      color: white;
      text-align: center;
      font-family: Arial;
    }
    
  }
  
  @media(max-width: 768px) {
    footer{
      background-color: rgb(77, 29, 58);
    }
    
  }